@model OnlineBankingForManager.WebUI.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}
<link rel="stylesheet/less" type="text/css" href="~/Content/RegisterStyle.less">
<div class="link-login">@Html.ActionLink("Login", "Login")</div>
@using(Html.BeginForm())
{
    <div class="container-table">
        <table class="table-input-fields">
            <tr>
                <td></td>
                <td>Please type next data:</td>
            </tr>
            <tr>
    
                <td class="label-input-field">@Html.LabelFor(m => m.UserName):</td>
                <td>@Html.TextBoxFor(m => m.UserName,new { @class= "input-field",@title= "Your username."})*</td>
                <td>@Html.ValidationMessageFor(m => m.UserName)</td>
            </tr>

            <tr>
                <td class="label-input-field">@Html.LabelFor(m => m.Password):</td>
                <td>@Html.PasswordFor(m => m.Password,new { @class= "input-field",@title= "Your password."})*</td>
                <td>@Html.ValidationMessageFor(m => m.Password)</td>
            </tr>

            <tr>
                <td class="label-input-field">@Html.LabelFor(m => m.ConfirmPassword):</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword,new { @class= "input-field",@title= "Confirm your password."})*</td>
                <td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
            </tr>

            <tr>
                <td class="label-input-field">@Html.LabelFor(m => m.UserEmail):</td>
                <td>@Html.TextBoxFor(m => m.UserEmail,new { @class= "input-field",@title= "Your email."})*</td>
                <td>@Html.ValidationMessageFor(m => m.UserEmail)</td>
            </tr>

            <tr>
                <td class="label-input-field">@Html.LabelFor(m => m.UserAddress):</td>
                <td>@Html.TextBoxFor(m => m.UserAddress,new { @class= "input-field",@title= "Your address."})</td>
                <td>@Html.ValidationMessageFor(m => m.UserAddress)</td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="Submit" title="Press for submit"/></td>
            </tr>
        </table>
    </div>
}
