@using OnlineBankingForManager.Domain.Entities
@using OnlineBankingForManager.WebUI.HtmlHelpers
@model OnlineBankingForManager.WebUI.Models.ClientListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<link rel="stylesheet/less" type="text/css" href="~/Content/ListStyle.less">

<div class="scroll">
    <table class="grid">
        <tr>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,status=Model.CurrentStatusClient,order="ContractNumber"})'" title="Press for sort by Contract Number">Contract Number</th>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,status=Model.CurrentStatusClient,order="FirstName"})'" title="Press for sort by First Name">First Name</th>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,status=Model.CurrentStatusClient,order="LastName"})'" title="Press for sort by Last Name">Last Name</th>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,status=Model.CurrentStatusClient,order="DateBirth"})'" title="Press for sort by Data of Birth">Date of Birth</th>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,status=Model.CurrentStatusClient,order="PhoneNumber"})'" title="Press for sort by Phone Number">Phone Number</th>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,status=Model.CurrentStatusClient,order="Status"})'" title="Press for sort by Status">Status</th>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,status=Model.CurrentStatusClient,order="Deposit"})'" title="Press for sort by Deposit">Deposit</th>
        </tr>
        
        @foreach (var item in Model.Clients)
        {
            Html.RenderPartial("ClientSummary", item);
        }
        <tr class="row-list" onclick="location.href = '@(Url.Action("Create", "Manager",new {returnUrl=Request.Url.PathAndQuery}))'" title="Press for create new client.">
            @for (int i = 0; i < 7; i++)
            {
                <td>...</td>
            }
        </tr>
    </table>
    <div class="pager">
   @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
    new { page = x, status = Model.CurrentStatusClient,order=Model.CurrentOrderClients }))
</div>
</div>

<script>
    $('.grid .row-list .td-delete').click(function () {
        var c = confirm("Are you sure delete client ?");
        return c;
    });
</script>
