@using System.Collections
@using System.Web.UI.WebControls
@using OnlineBankingForManager.Domain.Entities
@using OnlineBankingForManager.WebUI.HtmlHelpers
@model OnlineBankingForManager.WebUI.Models.ClientListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<link rel="stylesheet/less" type="text/css" href="~/Content/ListStyle.less">

<div class="scroll">
    <table class="grid">
       
        <tr>
            <th id="ContractNumber">Contract Number</th>
            <th id="FirstName">First Name</th>
            <th id="LastName">Last Name</th>
            <th id="DateBirth">Date of Birth</th>
            <th id="PhoneNumber">Phone Number</th>
            <th id="Status">Status</th>
            <th id="Deposit">Deposit</th>
        </tr>

        <tr>
 
                @for (int i = 0; i < 7; i++)
                 {
                     if (i == 5)
                     {
                         <td>
                             @Html.DropDownListFor(m => m.CurrentStatusClient,new SelectList(Enum.GetValues(typeof(StatusClient)).Cast<StatusClient>()),"All")
                         </td>
                     }
                     else
                     {
                         <td></td>
                     }

                 }
        </tr>
        @foreach (var item in Model.Clients)
        {
            Html.RenderPartial("ClientSummary", item);
        }
        <tr class="row-list" onclick="location.href = '@(Url.Action("Create", "Manager", new { returnUrl = Request.Url.PathAndQuery }))'" title="Press for create new client.">
            @for (int i = 0; i < 7; i++)
            {
                <td>...</td>
            }
        </tr>
    </table>
    <div class="pager">
   @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
    new { page = x, status = Model.CurrentStatusClient,order=Model.CurrentOrderClients }))
</div>
</div>

<script id="4e d2wvc">
    $('.grid .row-list .td-delete').click(function () {
        var c = confirm("Are you sure delete client ?");
        return c;
    });
    $('th').click(function() {
        var idAttr = $(this).attr('id');
        var currOrder="@Model.CurrentOrderClients";
        var order = currOrder.match("^" + idAttr) ? (currOrder.match("DESC$") ? idAttr : idAttr + " DESC") : idAttr;
        window.location.href =
            '/Manager/List/' + "?" +
            $.param({
                page: '@Model.PagingInfo.CurrentPage',
                status: '@Model.CurrentStatusClient',
            order: order
        });
    });
    $('th').each(function() {
        var idAttr = $(this).attr('id');
        var currOrder="@Model.CurrentOrderClients";
        $(this).attr('class', currOrder.match("^" + idAttr) ? (currOrder.match("DESC$") ? 'orderDesc' : 'order') : 'no_order');
        $(this).attr('title', 'Press for sort by '+$(this).text());
    });
    $('select').change(function() {
        window.location.href = '/Manager/List/' + "?" +
            $.param({
                page: '@Model.PagingInfo.CurrentPage',
                status: $(this).val(),
                order: '@Model.CurrentOrderClients'
            });
    });
   
</script>
