@using System.Collections
@using System.Web.UI.WebControls
@using OnlineBankingForManager.Domain.Entities
@using OnlineBankingForManager.WebUI.HtmlHelpers
@model OnlineBankingForManager.WebUI.Models.ClientListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<link rel="stylesheet/less" type="text/css" href="~/Content/ListStyle.less">

<div class="scroll">
    <table class="grid">
       
        <tr>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,
                                              status=Model.CurrentStatusClient,
                                              order=Model.CurrentOrderClients==null?"ContractNumber":
                                                  Model.CurrentOrderClients.StartsWith("ContractNumber")?
                                                      Model.CurrentOrderClients.EndsWith("DESC")?
                                                          Model.CurrentOrderClients.Replace(" DESC",""):
                                                          Model.CurrentOrderClients+" DESC":
                                                      "ContractNumber"})'" 
                title="Press for sort by Contract Number"
                class='@(Model.CurrentOrderClients==null?"no_order":Model.CurrentOrderClients.StartsWith("ContractNumber")?
                             Model.CurrentOrderClients.EndsWith(" DESC")?
                                 "orderDesc":
                                 "order":
                             "no_order"
                             )'>Contract Number</th>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,
                                              status=Model.CurrentStatusClient,
                                              order=Model.CurrentOrderClients==null?"FirstName":
                                                  Model.CurrentOrderClients.StartsWith("FirstName")?
                                                      Model.CurrentOrderClients.EndsWith("DESC")?
                                                          Model.CurrentOrderClients.Replace(" DESC",""):
                                                          Model.CurrentOrderClients+" DESC":
                                                      "FirstName"})'" 
                title="Press for sort by First Name"
                class='@(Model.CurrentOrderClients==null?"no_order":Model.CurrentOrderClients.StartsWith("FirstName")?
                             Model.CurrentOrderClients.EndsWith(" DESC")?
                                 "orderDesc":
                                 "order":
                             "no_order"
                             )'>First Name</th>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,
                                              status=Model.CurrentStatusClient,
                                              order=Model.CurrentOrderClients==null?"LastName":
                                                  Model.CurrentOrderClients.StartsWith("LastName")?
                                                      Model.CurrentOrderClients.EndsWith("DESC")?
                                                          Model.CurrentOrderClients.Replace(" DESC",""):
                                                          Model.CurrentOrderClients+" DESC":
                                                      "LastName"})'" 
                title="Press for sort by Last Name"
                class='@(Model.CurrentOrderClients==null?"no_order":Model.CurrentOrderClients.StartsWith("LastName")?
                             Model.CurrentOrderClients.EndsWith(" DESC")?
                                 "orderDesc":
                                 "order":
                             "no_order"
                             )'>Last Name</th>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,
                                              status=Model.CurrentStatusClient,
                                              order=Model.CurrentOrderClients==null?"DateBirth":
                                                  Model.CurrentOrderClients.StartsWith("DateBirth")?
                                                      Model.CurrentOrderClients.EndsWith("DESC")?
                                                          Model.CurrentOrderClients.Replace(" DESC",""):
                                                          Model.CurrentOrderClients+" DESC":
                                                      "DateBirth"})'" 
                title="Press for sort by Date of Birth"
                class='@(Model.CurrentOrderClients==null?"no_order":
                             Model.CurrentOrderClients.StartsWith("DateBirth")?
                                 Model.CurrentOrderClients.EndsWith(" DESC")?
                                     "orderDesc":
                                     "order":
                                 "no-order"
                             )'>Date of Birth</th>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,
                                              status=Model.CurrentStatusClient,
                                              order=Model.CurrentOrderClients==null?"PhoneNumber":
                                                  Model.CurrentOrderClients.StartsWith("PhoneNumber")?
                                                      Model.CurrentOrderClients.EndsWith("DESC")?
                                                          Model.CurrentOrderClients.Replace(" DESC",""):
                                                          Model.CurrentOrderClients+" DESC":
                                                      "PhoneNumber"})'" 
                title="Press for sort by Phone Number"
                class='@(Model.CurrentOrderClients==null?"no_order":
                             Model.CurrentOrderClients.StartsWith("PhoneNumber")?
                                 Model.CurrentOrderClients.EndsWith(" DESC")?
                                     "orderDesc":
                                     "order":
                                 "no_order"
                             )'>Phone Number</th>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,
                                              status=Model.CurrentStatusClient,
                                              order=Model.CurrentOrderClients==null?"Status":
                                                  Model.CurrentOrderClients.StartsWith("Status")?
                                                      Model.CurrentOrderClients.EndsWith("DESC")?
                                                          Model.CurrentOrderClients.Replace(" DESC",""):
                                                          Model.CurrentOrderClients+" DESC":
                                                      "Status"})'" 
                title="Press for sort by Status"
                class='@(Model.CurrentOrderClients==null?"no_order":Model.CurrentOrderClients.StartsWith("Status")?
                             Model.CurrentOrderClients.EndsWith(" DESC")?
                                 "orderDesc":
                                 "order":
                             "no_order"
                             )'>Status</th>
            <th onclick="location.href = '@Url.Action("List", new {page=Model.PagingInfo.CurrentPage,
                                              status=Model.CurrentStatusClient,
                                              order=Model.CurrentOrderClients==null?"Deposit":
                                                  Model.CurrentOrderClients.StartsWith("Deposit")?
                                                      Model.CurrentOrderClients.EndsWith("DESC")?
                                                          Model.CurrentOrderClients.Replace(" DESC",""):
                                                          Model.CurrentOrderClients+" DESC":
                                                      "Deposit"})'" 
                title="Press for sort by Deposit"
                class='@(Model.CurrentOrderClients==null?"no_order":Model.CurrentOrderClients.StartsWith("Deposit")?
                             Model.CurrentOrderClients.EndsWith(" DESC")?
                                 "orderDesc":
                                 "order":
                             "no_order"
                             )'>Deposit</th>
        </tr>

        @* @for (int i = 0; i < 7; i++)
        {
            Html.RenderPartial("ClientHeader", i);
        }*@
        <tr>
            @using (Html.BeginForm("List", "Manager"))
            {
                for (int i = 0; i < 7; i++)
                 {
                     if (i == 5)
                     {
                         
                         <td>
                             @Html.HiddenFor(m=>m.CurrentOrderClients)
                             @Html.HiddenFor(m=>m.PagingInfo.ItemsPerPage)
                             @Html.HiddenFor(m=>m.PagingInfo.CurrentPage)
                             @Html.DropDownListFor(
                                 m => m.CurrentStatusClient,
                                 new SelectList(ViewData["StatusList"] as IEnumerable),"All", new {@onchange = "this.form.submit();"})
                         </td>
                     }
                     else
                     {
                         <td></td>
                     }

                 }
            }
        </tr>
        @foreach (var item in Model.Clients)
        {
            Html.RenderPartial("ClientSummary", item);
        }
        <tr class="row-list" onclick="location.href = '@(Url.Action("Create", "Manager", new { returnUrl = Request.Url.PathAndQuery }))'" title="Press for create new client.">
            @for (int i = 0; i < 7; i++)
            {
                <td>...</td>
            }
        </tr>
    </table>
    <div class="pager">
   @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
    new { page = x, status = Model.CurrentStatusClient,order=Model.CurrentOrderClients }))
</div>
</div>

<script>
    $('.grid .row-list .td-delete').click(function () {
        var c = confirm("Are you sure delete client ?");
        return c;
    });
</script>
